<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />

        <title>Roundtrip</title>

        <!--CSS-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='style.css') }}"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.css"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='leaflet-sidepanel.css') }}"
        />

        <!--JS-->
        <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.js"
            charset="utf-8"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
        <script src="{{url_for('static', filename='leaflet-sidepanel.min.js')}}"></script>
    </head>

    <body>
        <div id="content">
            <div id="map" class="sidebar-map">
                <div
                    id="sidepanel"
                    class="sidepanel"
                    aria-label="side panel"
                    aria-hidden="false"
                >
                    <div class="sidepanel-inner-wrapper">
                        <div class="sidepanel-content">
                            <form id="generate" method="post">
                                <input
                                    id="lon"
                                    type="hidden"
                                    name="longitude"
                                    value="{{ request.form['longitude'] }}"
                                />
                                <input
                                    id="lat"
                                    type="hidden"
                                    name="latitude"
                                    value="{{ request.form['latitude'] }}"
                                />
                                <label for="length"><b>Route length</b></label>
                                <br />
                                <input
                                    id="length"
                                    type="text"
                                    name="length"
                                    value="{{ request.form['length'] }}"
                                />
                                <br />
                                <button type="submit">Generate</button>
                                <button
                                    id="download"
                                    type="button"
                                    disabled="true"
                                >
                                    Download GPX
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="sidepanel-toggle-container">
                        <button
                            class="sidepanel-toggle-button"
                            type="button"
                            aria-label="toggle side panel"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="{{url_for('static', filename='script.js')}}"></script>
</html>
