body {
    padding: 0;
    margin: 0;
}

html,
body,
#map,
#content {
    height: 100%;
    width: 100vw;
}

#content {
    position: relative;
}

#content > * {
    position: absolute;
    z-index: 100000;
    top: 0;
    right: 0;
}
